<template name="login">
	<form id="login" class="form-signin" role="form">
		<h2 class="form-signin-heading">Login</h2>
		<input type="text" name="username-email" class="form-control" placeholder="Username / Email address" required autofocus>
		<input type="password" name="password" class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Login now!</button>
		<a href="/" >Back</a>
	</form>
</template>

<template name="signup">
	<form id="signup" class="form-signin" role="form">
		<h2 class="form-signin-heading">Sign up</h2>
		<input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
		<input type="email" name="email" class="form-control" placeholder="Email address" required>
		<input type="password" name="password" class="form-control" placeholder="Password" required>
		<input type="password" name="password-confirmation" class="form-control" placeholder="Password confirmation" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up now!</button>
		<a href="/" >Back</a>
	</form>
</template>