<template name="boarding">
	<div class="jumbotron">
		<h1 class="center">Let's play this Lousy Game 0.5!</h1>
		<ul>
			<li>Click on the right top corner to create an account or login to start with. Move your player with left mouse click.</li>
			<li>When you see other players, they're enemies! Press Shift to prepare your attack. Left-click inside your attack range to attack. Press Shift again to cancel attack and move somewhere else.</li>
			<li>Explore the map and grab items that can help you survive. If you're dead, don't worry, you will be respawned. Forever!</li>
		</ul>
	</div>
</template>